cython
numpy==1.26.4
scipy
matplotlib
astropy
pytest
scikit-learn==1.2.0
tqdm
joblib
pandas
tools21cm
baccoemu
camb
# classy #Install classy manually by running "pip install classy"
corecon
# git+https://github.com/sambit-giri/emulator.git
numba

# Uncomment the following line to install PyTorch with CUDA 11.8
# torch==2.0.1+cu118 torchvision==0.15.2+cu118 torchaudio==2.0.2+cu118 -f https://download.pytorch.org/whl/torch_stable.html

# Uncomment the following line to install PyTorch for CPU-only
torch 
torchvision 
torchaudio
